{% extends 'myapp/base.html' %}
{% block content %}
<form class="bg-white shadow-md m-10 w-3/5 rounded px-8 pt-6 pb-8 mb-4 rounded px-4" method="POST" enctype="multipart/form-data ">
    {% csrf_token %}
    <div class="mb-4">
        <label for="">Upload profile image</label>
        <input class="py-2" placeholder="upload clear profile image" type="file" accept="image/*" name="upload" id="upload" >
    </div>
    <div class="mb-4">
        <label for="">Contact Number</label>
        <input class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700" placeholder="123456789" type="text" name="contact_number" id="contact_number">
    </div>
    <input type="submit" class="bg-green-500 text-white px-5 py-2" name="Add" value="Add">
</form>
{% endblock %}