{% extends 'myapp/base.html' %}
{% block content %}
<h1 class=" text-2xl font-bold m-8">🧑Login Here</h1>
<div class="container py-5">
    <form class="w-2/5 bg-white shadow-md m-10 rounded px-8 pt-6 pb-8 mb-4" method="POST">
        {% csrf_token %}
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="">Username</label>
            <div class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700 leading-tight">
                {{ form.username }}
            </div>
        </div>
       
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="">Password</label>
            <div class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700 leading-tight">
                {{ form.password }}
            </div>
        </div>
       
        <button class="bg-green-500 text-white font-bold px-5 py-2 mt-3" type="submit">Login</button>
    </form>
</div>
{% endblock %}