{% load static %}
<html>
    <head>
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    </head>
    <body>
        <nav class="bg-white shadow-lg">
            <div class="max-w-6xl mx-auto px-4">
                <div class="flex justify-between">
                    <div class="flex space-x-7">
                        <div>
                            <a href="{% url 'myapp:products' %}" class="flex items-center px-2 py-4" >
                            <img class="h-8 w-8"  src="{% static 'myapp/images/shopping_log.png' %}" alt="">
                            <span class="text-red-500 text-2xl font-semibold">Buy&Sell</span>
                            </a>
                        </div>
                        <div class="items-center flex space-x-1">
                            <a href="{% url 'myapp:products' %}" class="py-4 px-2 text-gray-500 font-semibold border-b-4 border-green-500">Home</a>
                            <a href="{% url 'myapp:add_product' %}" class="py-4 px-2 text-gray-500 font-semibold">Post an Add </a>
                            <a href="{% url 'myapp:products' %}" class="py-4 px-2 text-gray-500 font-semibold">View Products</a>
                        
                            {% if user.is_authenticated %}
                            <a class="py-4 px-20 text-gray-500 font-semibold" href="{% url 'myapp:listings' %}">My Listings</a>
                            <a class="py-4 px-10 text-gray-500 font-semibold" href="{% url 'user:profile' %}">Profile</a>
                            <a class="py-4 px-20 text-gray-500 font-semibold" href="{% url 'user:logout' %}">Logout</a>
                            {% else %}
                            <a class="py-4 px-40 text-gray-500 font-semibold" href="{% url 'user:login' %}">Login</a>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        
      {% block content %} 


      {% endblock %} 
    </body>
</html>