{% extends 'myapp/base.html' %}
{% block content%}
<div class="text-3xl m-10 p-10 font-bold text-green-500">📃 My listings</div>
{% for product in products %}
<div class="itemcontainer flex shadow-lg p-10 m-10">
    <span class="w-1/5">
        <img class="w-40 h-40" src="{{product.image.url}}" alt="">
    </span>
    <span class="w-2/5">
        <div class="font-bold text-gray-700">{{product.name}}</div>
        <div class="text-green-500 font-bold">$ {{product.price}}</div>
        <div>{{product.desc}}</div>
    </span>
    <span class="w-1/5 my-10 mx-10">
        <a class="bg-green-500 text-white font-bold px-5 py-2" href="{% url 'myapp:update_product' product.id %}">Edit</a>
    </span>
    <span class="w-1/5 my-10 mx-10">
        <a class="bg-red-500 text-white font-bold px-5 py-2" href="{% url 'myapp:delete_product' product.id %}">Delete</a>
    </span>
</div>
{% endfor %}
{% endblock %}