{% extends 'myapp/base.html' %}
{% block content %}
<h1 class="text-2xl m-8 font-bold">➕Update Product</h1>
<form class=" w-3/5 bg-white shadow-md m-10 px-8 py-10 " method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="">Product Name</label>
    <input class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700" placeholder="Name"  value="{{product.name}}" type="text" name="name" id="name">
    </div>

    <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="">Product Price</label>
    <input class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700" placeholder="Price" value="{{product.price}}" type="text" name="name" id="name">
    </div>    
    
    <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="">Product Description</label>
    <input class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700" placeholder="desc" value="{{product.desc}}" type="text" name="name" id="name">
    </div>
    
    <div class="mb-4">
    <img class="w-20 h-20" src="{{product.image.url}}" alt="">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="">Product Image</label>
    <input class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700" type="file" accept="image/*" name="upload" id="upload" >
    </div>
  
    <div class="mb-4">
    
    <input class=" bg-green-500 shadow appearance-none border rounded py-2 px-3 mr-10 text-white" type="submit" name="Add Product" value="Update Product">
    </div>

</form>
{% endblock %}